<h1>Contact</h1></br>
<h3>Pour nous contacter : </h3></br>

<p>Vous pouvez nous appeler, nous envoyer un email ou un courrier ...</p>

<p><%= image_tag("Nous-Contacter.png", :alt => "cheval postal") %></p>