<h1>Contact</h1></br>
<h3>Comment nous contacter ?</h3></br>

<p>Vous pouvez nous envoyer un email ou un courrier (mais ça prendra plus de temps dans ce cas)</p>

<p><%= image_tag("courrier_cheval.jpg", :alt => "cheval postal") %></p>