<h1>Team</h1></br>
<h3>Qui fait partie de la team?</h3></br>
<p>Et bien justement, il s'agit de nous, oui, de nous. Ca t'en bouche un coin non ? Héhé</p>
<p><%= image_tag("iconsport_vim_310517_78_35.jpg", :alt => "team rocket") %></p>
